#gymwijzer-grid-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*auto auto auto auto; /*repeat(auto-fit, minmax(250px, 1fr))*/
    column-gap: 25px;
    row-gap: 25px;
    align-content: start;
    height: 100%; /* double check later if this is necessary */
    min-height: 100%; /* double check later if this is necessary */
}

a.gymwijzer-button, .div.gymwijzer-button {
    color: #fff;
}

.gymwijzer-button {
    background-color: #6EC1E2;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: .3s;
    font-size: 16px;
    font-weight: 500;
}

#gymwijzer-grid-wrap .gymwijzer-button {
    min-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gymwijzer-disabled-item {
    background-color: #7A7A7A;
    cursor: default;
}

.gymwijzer-button:hover:not(.gymwijzer-disabled-item) {
    transform: scale(1.1);
}

.gymwijzer-button.gymwijzer-button-done {
    background-color: #61ce70;
    border: 2px #61ce6e;
}

.gymwijzer-button.gymwijzer-button-doing {
    background-color: white;
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

@media only screen and (min-width: 1050px) {

    .videos-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        /*max-height: 750px;*/
        grid-column-gap: 15px;
        grid-row-gap: 5px;
        margin: 12px 0 25px;


    }
}

.video-title {
    color: #5bc0de;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
}

section.niveau-button-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    grid-column-gap: 13px;
    width: 100%;
    grid-row-gap: 10px;
}

.niveau-button-section a {
    flex: 1;
    margin: 0 10px;
    color: #fff;
}

.niveau-button-section a:first-child {
    margin-left: 0;
}

.niveau-button-section a:last-child {
    margin-right: 0;
}

.niveau-button-section .gymwijzer-button {
    line-height: 16px;
    padding: 15px 12px;
    margin: 0;
}

.videos-section video {
    width: 100%;
}

.video-block {
    margin: 0;
}

/* Fix for a strange bug causing the main page explode in height */
#gymwijzer-index .wrapper {
    flex-wrap: nowrap;
}

/* #slava 09-06 fix footer */
.videogrid-wrapper {
    display: table;
}

.kijkwijzer_section {
    height: 600px;
    margin: 50px;
    margin-top: 100px;
}

.kijkwijzer_title {
    font-size: 40px;
    font-weight: 600;
    color: #5bc0de;
    text-align: center;
    margin: 40px;
}

.my-school-section {
    margin: 20px;
}

@media only screen and (min-width: 800px) {
    .my-school-logo {
        display: flex;
    }

    .my-school-logo-item {
        margin: 0;
        width: 50%;
    }
}

.my-school-logo {

    width: 100%;
}

.my-school-logo-item {

    align: center;
    margin: 20px;
}

.my-school-item{
    display: inline-block;
    margin: 5px;
}
