/*Global*/

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Sans-serif;
    width: 100%;
}

.wrapper {
    width: calc(100% - 36px);
    max-width: 1164px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* New way of pushing footer to bottom: the rest of the content gets wrapped in one block & expanded with flex*/
#page-content {
    flex: 1;
}

a {
    color: #14ABF4;
    text-decoration: none;
}

a:hover {
    color: #0B9CE5;
}

#spotlight, .try-spotlight {
    background-attachment: fixed;
}

/*All the funny angled thingys at the beginning of each section*/
.section-curve {
    position: absolute;
    left: 0;
    width: 100%;
}

.section-curve svg {
    fill: #fff;
    height: 80px;
    width: 100%;
}

.section-curve.top-curve {
    top: 0;
}

.section-curve.bottom-curve {
    bottom: -8px;
}

.section-curve.top-curve svg {
    transform: rotateY(180deg);
}

.section-curve.bottom-curve svg {
    transform: rotate(180deg);
}

.bottom-curve.left-right-curve, .top-curve.left-right-curve {
    transform: scale(-1, 1);
}

/* Makes background grey-ish */
.section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #757575;
    opacity: 0.65;
}

/* Couple of repeating headings and buttons*/
.fancy-heading {
    font-family: "Roboto", sans-serif;
    font-size: 51px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}

.action-button {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    margin: 0 19px;
    font-size: 15px;
    transition: all .5s;
    font-weight: 500;
    background-color: #14ABF4;
    border-color: #14ABF4;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.action-button-my-account {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    margin: 0 19px;
    font-size: 15px;
    transition: all .5s;
    font-weight: 500;
    background-color: #14ABF4;
    border-color: #14ABF4;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

h1 {
    margin-top: 0;
}

/* Header & Footer */
#header-inner, #footer-inner {
    flex-direction: row;
}

/*HEADER & MENU STYLES*/
header {
    width: 100%;
    height: 80px;
    background: #fff;
    flex-shrink: 0; /* Bug fix for the shrinking menu in Firefox, Edge etc */
}

#header-inner {
    height: 100%;
}

#header-left {
    align-items: center;
    display: flex;
}

#header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    font-family: 'Poppins';
}

.header-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu a {
    margin: 0 9px;
    padding: 3px 11px;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 24px;
    transition: border 0.1s linear;
}

.header-menu a:hover, .header-menu a.active {
    border-color: #14ABF4;
    color: #333;
}

.header-menu a:first-child {
    margin-left: 0;
}

.header-menu a:last-child {
    margin-right: 0;
}

#gymwijzer-logo {
    background: url('/img/gymwijzer-theme/gymwijzer.png');
    background-size: cover;
    width: 230px;
    height: 75%;
    margin-right: 32px;
}

@media screen and (min-width: 1205px) {
    #mobile-menu-icon, #mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1204px) {
    #gymwijzer-logo {
        margin-right: 0;
    }

    #header-left-menu, #header-right-menu {
        display: none;
    }
}

#mobile-menu-icon:hover {
    cursor: pointer;
}

#mobile-menu-block {
    height: 100%;
    background: #f6f6f6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 230px;
    padding: 10px;
    border-right: 1px solid #e6e6e6;
    transition: 0.4s transform;
    z-index: 1;
    box-sizing: initial;
}

#mobile-menu-block #gymwijzer-logo {
    height: 60px;
    margin: 0 0 12px 0;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

#mobile-menu a {
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #52ACC7;
    font-family: Poppins;
    font-weight: 400;
    margin-bottom: 11px;
}

#mobile-menu a.active, #mobile-menu a:hover {
    font-weight: 600;
}

#mobile-menu .divider {
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    background: silver
}

/* Updated 08-06 slava: extra inner block so it would be pushed to the bottom of the page AND have a min top margin */
#footer {
    color: #fff;
    font-family: Poppins;
    padding-top: 25px;
}

#frontpage #footer {
    padding-top: 0;
}

#footer-container {
    background-color: #222222;
    padding: 55px 0;
    width: 100%;
    height: 100%;
}

#footer-inner a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}

.footer-group {
    display: flex;
    width: 33.3%;
    flex-direction: column;
}

h3.footer-header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    border-left: 3px solid ;
    padding-left: 10px;
}

#footer .divider {
    height: 25px;
}

#footer-inner a:hover {
    text-decoration: underline;
}

/* Responsive footer */
@media screen and (max-width: 800px) {
    .footer-group {
        width: 100%;
        margin-bottom: 55px;
    }

    .footer-group:last-child {
        margin-bottom: 0;
    }

    #footer .divider {
        height: 7px;
    }
}

/*SPOTLIGHT STYLES*/
#spotlight {
    min-height: 500px;
    background-image: url("/img/gymwijzer-theme/gym-illustration-01.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

#spotlight-content {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

#spotlight h3 {
    margin-top: -2px;
}

#gymwijzer-welcome {
    color: #fff;
    text-align: center;
    margin-top: -31px;
}

#spotlight-call-to-action {
    width: 100%;
    display: flex;
    font-size: 20px;
    margin-top: 27px;
    justify-content: space-around;
    max-width: 827px;
}

#spotlight-call-to-action a:first-child {
    margin-left: 0;
}

#spotlight-call-to-action a:last-child {
    margin-right: 0;
}

#spotlight .fa {
    float: right;
    margin-left: 5px;
}

.action-button.active {
    background-color: transparent;
    border-color: #fff;
}

.action-button:hover {
    background-color: #61ce70 !important;
    border-color: #61ce70 !important;
    color: #fff;
}

@media screen and (max-width: 750px) {
    #spotlight-call-to-action {
        flex-direction: column;
    }

    #spotlight-call-to-action a {
        margin: 21px 0;
    }

    #spotlight-call-to-action a:first-child {
        margin-top: 5px;
    }

    #spotlight-call-to-action a:last-child {
        margin-bottom: 5px;
    }

    #gymwijzer-welcome {
        margin-top: -53px;
    }

    #gymwijzer-welcome h1 {
        margin-bottom: 13px;
    }

    #gymwijzer-welcome h3 {
        line-height: 25px;
    }
}

/* Intro section */
#introduction {
    padding: 61px 0;
}

#introduction .wrapper {
    max-width: 1120px;
}

#introduction p, #introduction h3, .try-spotlight {
    font-family: "Roboto", sans-serif;
}

#introduction p {
    font-size: 18px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 400;
}

#gymwijzer-hello-text {
    line-height: 28px;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 40px;
}

#landing-features {
    width: 100%;
    margin-top: 53px;
    display: flex;
}

#landing-features > div {
    text-align: center;
}

#landing-features .fa {
    font-size: 54px;
    color: #6ec1e4;
    display: block;
    margin-top: 12px;
}

#landing-features > div > span {
    display: inline-block;
    padding: 14px;
    border: 3px solid #6ec1e4;
    width: 75px;
    height: 75px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
}

#introduction h3 {
    font-size: 22.5px;
    color: #6ec1e4;
    font-weight: 600;
    margin: 19px 0;
}

#landing-features p {
    line-height: 26px;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.landing-feature {
    margin: 0px 12px;
}

.landing-feature:first-child {
    margin-left: 0;
}

.landing-feature:last-child {
    margin-right: 0;
}


@media screen and (max-width: 800px) {
    .landing-feature {
        margin: 0px 12px;
    }

    .landing-feature:first-child {
        margin-left: 0;
    }

    .landing-feature:last-child {
        margin-right: 0;
    }

    #landing-features {
        flex-direction: column;
    }

    #introduction h3 {
        margin: 11px 0 5px;
    }

    #landing-features .landing-feature {
        margin: 0 0 38px;
    }

    #landing-features .landing-feature:last-child {
        margin-bottom: 0;
    }
}

/* Try me block styles */
.try-spotlight {
    display: flex;
    background-size: cover;
    position: relative;
    flex-direction: column;
    color: #fff;
}

#try-me {
    background-image: url('/img/gymwijzer-theme/gym-illustration-02.png');
    min-height: 475px;
}

#try-me2 {
    background-image: url('/img/gymwijzer-theme/gym-illustration-03.jpg');
    min-height: 375px;
    margin-top: 75px;
}

.try-spotlight .wrapper {
    flex: 1;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.try-spotlight h2 {
    font-size: 40px;
}

.try-spotlight .action-button {
    flex: none;
    margin-top: 14px;
    background-color: #6EC1E2;
    border-color: #6EC1E2;
    padding: 14px 26px;
}

.try-spotlight .fa, #subscriptions-inner .fa {
    margin-left: 10px;
}

.try-spotlight .bottom-curve svg {
    fill: #EAEAEA;
}

/*Subscription styles*/
#subscriptions {
    background: #EAEAEA;
    position: relative;
    padding: 67px 0;
}

#subscriptions-inner {
    flex-direction: column;
    /* max-width: 1140px; */
}

#subscriptions-table {
    display: flex;
    margin-bottom: 25px;
}

#subscriptions-table .subscription {
    flex-basis: 0;
    flex-grow: 1;
    background: #fff;
    padding: 18px;
    margin: 0 2px;
    position: relative;
    flex-direction: column;
    display: flex;
    border-top: 10px solid #6EC1E4;
}

#subscriptions-table .subscription:first-child {
    margin-left: 0;
    border-top-left-radius: 10px;
}

#subscriptions-table .subscription:last-child {
    margin-right: 0;
    border-top-right-radius: 10px;
}

.subscription h3 {
    color: #6EC1E4;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 22.5px;
}

ul.subscription-features {
    color: #7a7a7a;
    list-style: unset;
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    font-size: 15px;
    padding: 0 13px;
    margin: 17px 0 43px;
}

span.sub-title-border {
    display: block;
    width: 60px;
    height: 5px;
    background: #14ABF4;
    margin: 6px auto 0;
}

p.subscriptions-extra-info {
    display: block;
    margin: 47px auto 55px;
    max-width: 650px;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #7a7a7a;
    font-size: 15px;
    line-height: 23px;
}

.subscriptions-extra-info a {
    font-weight: 600;
}

.kopen-sub span.subscription-price {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22.5px;
    color: #000;
    display: block;
    margin: 0 6px 8px 0;
    text-align: right;
}

#subscriptions-action-button {
    margin: 0 auto;
    width: 187px;
    background-color: #5CC2CE;
    border-color: #5CC2CE;
}

.subscription li.highlighted {
    font-weight: 600;
}

@media screen and (min-width: 1020px) and (max-width: 1190px) {
    #subscriptions-table .subscription {
        margin: 0;
        padding: 18px 14px;
    }
}

@media screen and (max-width: 1019px) {
    #subscriptions-table {
        flex-wrap: wrap;
    }

    #subscriptions-table .subscription {
        border-radius: 0 !important;
        margin-bottom: 4px;
    }

}

.kopen-sub {
    margin-top: auto;
}

#subscriptions-table .action-button {
    margin: 0;
}

/* SUBSCRIPTION PURCHASE STYLES */
#purchase-subscription #purchase-info-block {
    display: flex;
}

#purchase-subscription #right-info {
    margin-left: auto;
}

#purchase-subscription #purchase-more-info {
    padding: 0 50px;
    margin: 20px 0;
}

#purchase-cart #cart-summary {
    margin-top: 35px;
}

#cart-summary button {
    height: 100%;
}

.purchase-page .error.message {
    margin: 0 0 15px;
}

.purchase-page form {
    padding-bottom: 6px;
}

#cart-summary .fields {
    margin-bottom: 0;
}

form.ui .fields:last-child {
    margin-bottom: 0;
}

.purchase-page .ui.error.message {
    margin: 15px 0 0 0;
}

/* Invite teachers to the school */
#invite-teacher-page body > .wrapper {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}

form#invite-teachers {
    margin: 0 0 25px;
}

#invite-teachers .ui.error.message {
    display: block;
}

.readonly-field {
    color: #d4d4d4;
}

.cookie-consent {
    text-align: center;
    background: #6EC1E4;
    color: white;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.2em;
}

.cookie-button {
    background: #14ABF4;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.cookie-button:hover {
    background: #61ce70;
}

.Edit-button {
    background-color: #14ABF4;
    border:1px solid #14ABF4;
    color:#ffffff;
    border-radius: 3px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}

.Edit-button:hover {
    background-color:#61ce70;
    border-color:#61ce70;
    color: #ffffff;
}

.dashboard-toevoeg-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 15px;
    transition: all .5s;
    font-weight: 500;
    background-color: #14ABF4;
    border-color: #14ABF4;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.dashboard-toevoeg-button:hover {
    background-color: #61ce70;
    border-color: #61ce70;
    color: #fff;
}

.gw-admin-buttons .button {
    background-color: #14ABF4;
    border-color: #14ABF4;
    color: #fff;
    transition: all .3s;
}

.gw-admin-buttons .button:hover {
    background-color: #61ce70;
    border-color: #61ce70;
    color: #fff;
}

/* Breadcrumbs */
#breadcrumbs-menu {
    min-height: 188px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: inset 0 14px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}

#breadcrumbs-menu .wrapper {
    display: grid;
    grid-template-columns: 90% 10%;
    max-width: 1269px;
    padding: 0 15px;
}

#breadcrumbs-menu h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.breadcrumbs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Open Sans";
    letter-spacing: 0.2px;
}

.breadcrumbs-right a {
    color: #666;
    display: flex;
}

.breadcrumbs-right a:hover span {
    color: #0B9CE5;
}

.breadcrmb-goback-text {
    padding-top: 1px;
}

@media screen and (max-width: 510px) {
    .breadcrmb-goback-text {
        display: none;
    }
}

.breadcrumbs-content ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs-content a {
    color: #999;
    font-size: 0.875rem;
    font-family: "Open Sans";
    cursor: pointer;
}

.breadcrumbs-content a:not(:first-child) {
    margin-left: 7px;
}

.breadcrumbs-content a:not(:first-child):before {
    content: '/';
    display: inline-block;
    color: #999;
    margin-right: 7px;
}

.breadcrumbs-content a:hover {
    color: #666;
}

a.breadcrumb-disabled {
    pointer-events: none;
    cursor: text;
    text-decoration: none;
    color: #666;
}

.go-back-link:hover {
    cursor: pointer;
}

.add-schoolclass-info-box {
    border: 3px solid #74C3FF;
    padding: 13px;
    margin-bottom: 17px;
    font-size: 19px;
    font-family: "Open Sans";
    font-variant: all-small-caps;
}

input[type=text], input[type=email], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Small UI fix for bewegingsactiviteit edit page with displaing both a warning and error message */
.edit-activiteit-page #page-content .ui.warning.message {
    margin-bottom: 0;
}

/* Dashboard page only */
#period-setup-warning {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

/* For the page to link periods to bewegingsactiviteiten */
#setupperiods .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 11px;
    margin: 0;
    position: relative;
}

#setupperiods .item .content {
    max-width: 378px;
}

#setupperiods .select-activities {
    margin-left: 20px;
    flex-grow: 1;
    max-width: calc(100% - 403px);
}

#setupperiods hr {
    margin: 0;
}

#setupperiods .item:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #e1e1e152, #f3f3f363);
}

#setupperiods .ui.items {
    margin: 0.3em 0;
}

.period-number {
    position: absolute;
    left: -39px;
    top: 30%;
    font-size: 1.5em;
    color: #fff;
    background: #51bede;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#setupperiods .item.alreadyselected:hover {
    /*background: #ffff9bb8;*/
}

#setupperiods .item.alreadyselected {
    /*background: #ffff6ca8;*/
}

#setupperiods .item.alreadyselected .label {
    margin: -2px 0 0 6px;
    background-color: #ff5151;
}

.label .label {
    display: none;
}

#setupperiods a.ui.label {
    transition: 0.4s all;
}

a.ui.label.transition.visible.doubled {
    background: #ffe000;
}

.select-activities .edit-notification {
    font-size: 12px;
    font-family: consolas;
    letter-spacing: -0.5px;
    color: gray;
}

@media screen and (max-width: 800px) {
    #setupperiods .select-activities {
        max-width: unset;
        width: 100%;
        margin-left: 0;
    }

    #setupperiods .period-number {
        top: unset;
        right: 11px;
        left: unset;
        bottom: unset;
    }

    #setupperiods .item.period {
        flex-direction: column;
    }

    #setupperiods .ui.search.dropdown .menu {
        max-height: 16em;
    }
}

@media screen and (max-width: 1280px ){
    .period-number {
        left: unset;
        right: 0;
        z-index: 2;
        opacity: 0.6;
        bottom: 6px;
        top: unset;
    }
}
