#configurtaions-info .content {
    display: none;
}

#configurtaions-info .content.active {
    display: block;
}
#period-config-select a.item.active {
    background: linear-gradient(180deg, #00ff0347, #00ffc494);
    border-bottom: 1px solid #6CFFDC;
}

#period-config-select .menu .icon {
    font-size: 2em;
    margin-right: 4px;
    display: none;
}

#period-config-select .menu .item.active .icon {
    display: block;
}
