body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

#login-page body {
    background: #eee;
    background-origin: content-box;
}

#login-wrap {
    flex: 1;
    justify-content: center;
    padding: 25px 0 0;
    height: calc(100% - 80px);
}

#login-page .login-box {
    background-color: #ffffff;
    max-width: 850px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}

.login-box .action-button {
    margin: 5px 0 0 0;
    width: 100%;
}

label[for="login-remember-me"] {
    cursor: pointer!important;
}

#login-page .login-box .img {
    flex-basis: 50%;
    max-width: 50%;
    background: url('/img/gymwijzer-theme/harry-tall.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 41% center;
}

#login-page .login-box #login-form {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

#login-page .login-box #login-form h3 {
    text-transform: uppercase;
    color: #444444;
    font-size: 30px;
    margin: 20px 0 15px;
    border-bottom: 1px solid #444444;
    padding-bottom: 5px;
}

#login-page .login-box #login-form .form-heading,
#login-page .login-box #login-form form {
    width: 100%;
}

#login-page .login-box #login-form form .field {
    width: 100%;
    margin-bottom: 20px;
}

#login-page .login-box #login-form form .form-control {
    height: 45px;
    font-size: 14px;
    padding: 6px 13px;
    background-color: #eeeeee;
    border: none;
}

#login-page .login-box #login-form form .sign-in-remember label {
    color: #444444;
    cursor: pointer;
    font-size: 16px;
}

#login-page .login-box #login-form form .login-submit-btn {
    height: 45px;
    background-color: #6ec1e4;
    font-weight: bold;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color .5s ease;
}

#login-page .login-box #login-form form .login-submit-btn:hover {
    background-color: #61ce70;
}

#login-page .login-box .img img {
    display: block;
    width: 100%;
}

#form-footer {
    margin-top: auto;
}

#form-footer .form-footer-a {
    padding: 6px 0;
}

#login-page .login-box #login-form form .form-footer-a a.hyperlink-a:link, a.hyperlink-a:visited, a.hyperlink-a:hover, a.hyperlink-a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    font-size: 16px;
    margin: 20px 0 40px;
    border-bottom: 2px;
    padding-bottom: 5px;
}

@media (max-width: 767px) {
    #login-page .login-box .img {
        display: none;
    }

    #login-page .login-box #login-form {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
    }
}

#login-page body {
    flex-direction: column;
    display: flex;
}

#login-page .login-box #login-form .form-control.is-invalid {
    background-color: #FFF6F6;
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
}
